.ant-input {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 0;
  font-size: 14px;
  list-style: none;
  padding: 4px 11px;
  position: relative;
  border-radius: 2px;
  line-height: 1.5715;
  transition: all 0.3s;
  display: inline-block;
  background-image: none;
  box-sizing: border-box;
  background-color: #fff;
  font-variant: tabular-nums;
  height: 36.25px !important;
  border: 1px solid #274fc7;
  color: rgba(0, 0, 0, 0.85);
  font-feature-settings: "tnum", "tnum";
}

.ant-btn-primary {
  color: #fff;
  height: 56.25px !important;
  font-weight: 700 !important;
  background: #264eca !important;
  border-color: #264eca !important;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
}

.ant-btn-elink {
  font-weight: 400;
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  height: 56.23px !important;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  border-color: #E9F1FF !important;
  background: #E9F1FF !important;
}

.ant-btn-elink:hover {
    background-color: #E9F1FF !important;
    border-color: #E9F1FF !important;
}

.ant-btn .anticon {
  transition: margin-right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.ant-btn > .anticon {
  line-height: 3 !important;
}

@media screen and (min-width: 1024px) {
  .elink-card-width {
    width: 500px;
  }
}
